@import "{{ site.theme }}";
#forkme banner{ display: none !important; }

#downloads .btn {
  display: none !important;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.btn.btn-github {
  display: none !important;
}