@import "{{ site.theme }}";
#forkme_banner{ display: none !important; }

#downloads .btn {
  display: none !important;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
  state: disabled !important;
}
